<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" packages="com.plotsquared">
    <Appenders>
        <Console name="SysOut" target="SYSTEM_OUT">
            <PatternLayout pattern="%highlight{[P2: %c{1.}][%d{HH:mm:ss}] [%t/%level]: %msg%n%throwable{full}}" />
        </Console>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="SysOut"/>
        </Root>
    </Loggers>
</Configuration>
