name: "build"

on: ["pull_request", "push"]

jobs:
  build:
    strategy:
      matrix:
        os: ["ubuntu-18.04"]
    runs-on: "${{ matrix.os }}"
    steps:
      - name: "Checkout Repository"
        uses: "actions/checkout@v2.3.4"
      - name: "Setup JDK 16"
        uses: "actions/setup-java@v2"
        with:
          distribution: "adopt"
          java-version: "16"
      - name: "Clean Build"
        run: "./gradlew clean build"
